venv/
__pycache__/
*.txt
*.html
# The .nltk_cache/ directory is ignored to prevent storing NLTK cache files in the repository.
# In the future, this cache can be stored in the cloud or GitHub for faster retrieval and to avoid cluttering the project directory.
.nltk_cache/ 